<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - SolidGround</title>
    <script type="importmap"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@hotwired/turbo@7.3.0/dist/turbo.es2017-umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
    @* @if (Environment.GetEnvironmentVariable("__ASPNETCORE_BROWSER_TOOLS") is not null) *@
    @* { *@
    @* <script src="/_framework/aspnetcore-browser-refresh.js"></script> *@
    @* } *@
</head>
<body style="scrollbar-gutter: stable; overflow-y: scroll">

@RenderBody()

@* <footer class="border-top footer text-muted"> *@
@*     <div class="container"> *@
@*         &copy; 2024 - SolidGround - <a asp-area="" asp-page="/Privacy">Privacy</a> *@
@*     </div> *@
@* </footer> *@

<script src="~/js/site.js" asp-append-version="true"></script>

<script>
    function formatJson(root = document) {
        root.querySelectorAll('pre > code.language-json').forEach(function(element) {
            const jsonString = element.textContent;
            try {
                const formattedJson = JSON.stringify(JSON.parse(jsonString), null, 2);
                element.textContent = formattedJson;
                hljs.highlightElement(element);
            } catch (e) {
                console.error('Invalid JSON:', e);
            }
        });
    }

    // For Turbo Frame loads
    document.addEventListener("turbo:frame-load", (event) => {
        //formatJson(event.target);
    });
</script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>