<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - SolidGround</title>

    <link rel="stylesheet" href="lib/tailwindcss/tailwind.min.css">
    <link rel="stylesheet" href="css/site.css">


    <!script type="importmap">
        {
          "imports": {
            "@@hotwired/stimulus": "https://unpkg.com/@@hotwired/stimulus@3.2.2/dist/stimulus.js",
            "@@hotwired/turbo": "https://unpkg.com/@@hotwired/turbo@8.0.12/dist/turbo.es2017-esm.js"
        }
    }
    </!script>
    
    @* @if (Environment.GetEnvironmentVariable("__ASPNETCORE_BROWSER_TOOLS") is not null) *@
    @* { *@
    @* <script src="/_framework/aspnetcore-browser-refresh.js"></script> *@
    @* } *@
</head>
<body style="scrollbar-gutter: stable; overflow-y: scroll">

@RenderBody()

@* <footer class="border-top footer text-muted"> *@
@*     <div class="container"> *@
@*         &copy; 2024 - SolidGround - <a asp-area="" asp-page="/Privacy">Privacy</a> *@
@*     </div> *@
@* </footer> *@

<script src="js/site.js" asp-append-version="true" type="module"></script>

<script>
    function formatJson(root = document) {
        root.querySelectorAll('pre > code.language-json').forEach(function(element) {
            const jsonString = element.textContent;
            try {
                const formattedJson = JSON.stringify(JSON.parse(jsonString), null, 2);
                element.textContent = formattedJson;
                hljs.highlightElement(element);
            } catch (e) {
                //this is okay, many things are not json
            }
        });
    }

    // For Turbo Frame loads
    document.addEventListener("turbo:frame-load", (event) => {
        formatJson(event.target);
    });
</script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>