@* @model InputNameTurboFrame.Model *@
@* *@
@* <h3 class="font-semibold"> *@
@*     <a href="@InputNameEditTurboFrame.RouteForEditFor(Model.Input.Id)" data-turbo-frame="@InputNameBase.TurboFrameIdFor(Model.Input.Id)"> *@
@*         @(Model.Input.Name ?? "Naamloos") *@
@*     </a> *@
@* </h3> *@
