@using TurboFrames
@model InputList.Model

<div class="flex-col flex gap-2">

    @if (Model.Inputs.Length == 0)
    {
        <div class="bg-white shadow-md rounded-lg">No inputs matching this filter.</div>    
    }
    @foreach (var input in Model.Inputs)
    {
        @(await Html.RenderTurboFrameAsync<InputTurboFrame>(input.Id))
    }
</div>
