@using TurboFrames
@model InputTurboFrame.Model

<details class="bg-white grow shadow-md rounded-lg group/output">
    <summary class="p-4 cursor-pointer flex justify-between items-center rounded-lg">
        <h3 class="font-semibold">@(Model.Input.Name ?? "Naamloos")</h3>
        <svg class="w-5 h-5 transition-transform duration-200 group-open/output:rotate-90" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
        </svg>
    </summary>
    @await Html.RenderTurboFrameAsync(new InputDetailsTurboFrame(Model.Input.Id).Lazy)
 </details>