@* @model InputNameEditTurboFrame.Model *@
@* *@
@* <form action="@InputController.ModifyInputRouteFor(Model.Input.Id)" method="post"> *@
@*     <input type="text" name="name" value="@(Model.Input.Name ?? "Naamloos")" /> *@
@*     <button type="submit">Save</button> *@
@* </form> *@