@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="m-5 flex flex-col gap-4">
    <details class="bg-white shadow-md rounded-lg group">
        <summary class="p-4 cursor-pointer flex justify-between items-center bg-green-100 rounded-lg">
            <h3 class="font-semibold">Run Experiment</h3>
            <svg class="w-5 h-5 transition-transform duration-200 group-open:rotate-90" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
            </svg>
        </summary>
        
        <div class="p-4">
            <turbo-frame id="@RunExperimentForm.TurboFrameId" src="/runexperimentform">
                <div>Loading...</div>
            </turbo-frame>
        </div>
    </details>

    <div class="bg-white shadow-md rounded-lg group flex items-center p-4 gap-4">
        <span class="text-gray-700 font-semibold">Search:</span>
        <div class="relative flex-grow">
            <input id="searchInput" type="text" placeholder="Enter your search" class="w-full border border-gray-300 rounded-md px-3 py-2 pr-10 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
            <button id="clearButton" class="absolute right-2 top-1/2 transform -translate-y-1/2 text-gray-400 hover:text-gray-600">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
            </button>
        </div>
        <span class="text-gray-700 font-semibold">Filter:</span>
        @await Html.RenderTurboFrameAsync(InputTags.ForSearchTags([], Model.AllTags))
    </div>

    @await Html.RenderTurboFrameAsync(new InputList(Model.Inputs,Model.AllTags))
</div>

      








